@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-primary{  
  background: linear-gradient(25deg,#F7E93F 0% ,#FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 16px;
}

.hamburger{
    display: none;
}


.text-h{
   
    color: #FB09B4;
}
header{
   background-color: #1A0B2E;
   
}
hr{
    border: 1px solid #412567;
}


nav{
    max-width: 1200px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    
} 

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
nav h2{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
}

/* banner section */
.banner{
    
    padding: 40px;
    text-align: center;
    background: url(Images/hero-bg.png);
    background-repeat: no-repeat;
    background-position:center ;
    
}
.banner-img{
    
    background: url(Images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 70px 107px 81px 107px;
    
}
.new{
    font-size: 18px;
    font-weight: 600;
    background: #00FF88;
    color: #1A0B2E;
    padding: 10px 18px;
    border-radius: 15px;
    position: absolute;
    transform: translateX(70px);
}
.banner-img img{
    width: 130px;
}

.banner-content h1{
    font-size: 60px;
    font-weight: 700px;
    color: #FFFFFF;
}
.banner-content p{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.btn-2{
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 18px;
    border: 1px solid #00ff8892;
    margin-left: 10px;
    
    
}
.btn-2 img{

    align-content: center;
    /* justify-content: center; */
}
 .fz{
    
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #00FF88;
    margin-left: 10px;
 }
 .btn-1{
    background: linear-gradient(25deg,#F7E93F 0% ,#FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    
 }
 /* .btn-1 img {
   align-content: center;
 }
 .fz-1{
    text-align: center;
 } */


 /* About section */
 .about{
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 100px;
 }
 .about-content,.rating{
    max-width: 1200px;
    margin: 0 auto;
   text-align: center;
    
 }
 .about-content h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
   
 }
 .about-content p{
    line-height: 20px;
     color: #ffffff72;
    font-size: 16px;
    margin-bottom: 80px;
    
    
 }

 .rating{
    padding-top: 80px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
 }

 .bold-rating h2{
    font-size: 3rem;
    font-weight: 800;
    color: #00FF88;
 }
 .bold-rating p{
    color: #ffffff81;
    font-size: 16px;
    margin-top: 10px;
    font-weight: normal;
    
 }

 /* layout section */
 
 .layout{
    padding-bottom: 50px; /*ata lagle rakbo*/
    padding-top: 100px;
     background-color: #412567; 
 }
 .h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
 }
 .layout-container>* {
    background-color: #19073274;
    border-radius: 20px;
    padding: 30px;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* border: 1px solid #a97527; */
 }
 .audio{
    grid-area: audio;
 }

 .device{
    grid-area: phone;
 }
 .location{
    grid-area: location;
 }
 .interview{
    grid-area: interview;
 }
 .resource{
    grid-area: resource;
 }
 .layout-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "audio phone phone" 
    "audio  location location"
    "interview interview resource"
    
 }
.layout-container h2{
    color: #FFFFFF;
    margin-top: 12px;
}
.layout-container p{
    color: #ffffff97;
    margin-top: 12px;
}

/*video card section */
iframe{
    border-radius: 20px;
}
 #Main{
    background-color: #1A0B2E;
    padding-top: 80px;
 }
 #Main h2{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
 }
.card-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
.card{
    padding: 20px;
    background-color: #412567;
    max-width: 400px;
    border-radius: 15px;
}

.video-h{
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.video-p{
    color: #ffffff94;
    margin-top: 10px;
    font-size: 16px;
}

/* Host Section */
section{
    background-color: #1A0B2E;
    padding-top: 80px;
}
.heading{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
#Host{
    max-width: 1200px;
    margin: 0 auto;
    /* padding-top: 50px; */
    padding: 30px;
    background-color: #402567d3;
    border-radius: 20px;
}
.host-container{
    display: flex;
    gap: 40px;
}
.name h2{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
}
.name p{
    color: #ffffff88;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}
.name img{
    margin-right: 10px;
}


 /* mobile responsive */
 @media screen  and (max-width:576px){
    .menu,.btn-primary{
        visibility:hidden;
    }
    .hamburger{
        display: block;
    }
    
    .menu {
        position: absolute;
        right: 0;
        margin-right: 30px;
 
    }
    .rating{
        grid-template-columns:repeat(2,1fr);
        gap: 20px;
    }
    .banner{
        padding: 20px;
        background-size: contain;
        /* background-position: center; */
        
    }
     .layout-container{
            
            grid-template-areas: 
            "audio"
            "phone"
            "location"
            "interview"
            "resource"
            

        }

        .card-container{
            grid-template-columns: repeat(1,1fr);
        }

        .host-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .name{
            text-align: center;
        }
        .card-container{
            min-width: 300px;
        }
 }